html {
    margin: 0;
}

body {
    background-color: #f0f0f0;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#apiTestContainer {
    width: 100%;
    display: flex;
}

#apiTestButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    transition: all 50ms;
}
#apiTestButton:active {
    transform: translateY(1px);
}

#indicator {
    margin: auto; 
    margin-left: 20px;
    background-color: grey;
    height: 35px;
    width: 35px;
    border-radius: 6px;
}

#responseDisplayBox {
    width: 80%;
}
#responseDisplay {
    background-color: ivory;
    color: blue;
    padding: 4px;
    word-wrap: break-word;
}




.timestamp {
    font-size: small;
    color: grey;
}


#messageDisplay {
    top: 0;
    margin-bottom: 50px;
}
.messageObject {
    background-color: ivory;
    width: 70%;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 10px;
    word-wrap: break-word;
}



#messageBarContainer {
    background-color: ivory;
    display: flex;
    width: 100%;
    min-height: 40px;
    position: fixed;
    bottom: 0;
    overflow: auto;
}
#messageBox {
    background-color: rgb(245, 245, 245);
    flex-grow: 10;
    overflow: auto;
}
#messageSendButton {
    background-color: rgb(77, 231, 38);
    color: rgb(252, 252, 252);
    font-size: large;
    flex-grow: 1;
    float: right;
}

